.badge{
    padding: 0.2rem 0.65rem;
    color: var(--complimentary-text-color);
    font-size: .75em;
    line-height: 1;
    text-align: center;
    border-radius: 0.3rem;
}
.bg-secondary{
    background-color: var(--secondary-text-color);
}
.bg-primary{
    background-color: var(--primary-color);
}
.round-pill-badge{
    border-radius: 50rem;
}
.status-badge{
    height: 1.25rem;
    min-width: 1.25rem;
    padding: 2px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: .75em;
    box-sizing: border-box;
}

.status-badge-online{
    background-color: #1b7052;
}
.status-badge-away{
    background-color: #ff9204;
}
.status-badge-offline{
    background-color: #dc3545;
}
.status-badge-number{
    background-color: #ff3f6c;
    border: none;
    right:-1rem;
    top: -0.7rem;
}
.badge-container{
    position: relative;
    width: fit-content;
    box-sizing: border-box;
}
.badge-container .avatar-lg-size ~ .status-badge{
    right: 1.4em;
    bottom: 0.7em;
    height: 1.565rem;
    min-width: 1.565rem;
}

.badge-container .avatar-md-size ~ .status-badge{
    right:0.5em;
    bottom: 0.6em;
}

.badge-container .avatar-sm-size ~ .status-badge{
    right:0.1em;
    bottom: 0.1em;
    height: 0.9375rem;
    min-width: 0.9375rem;
}

.badge-container .avatar-xs-size ~ .status-badge{
    right:0em;
    bottom: 0em;
    height: 0.75rem;
    min-width: 0.75rem;
    
}