<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component Library</title>
    <link rel="stylesheet" href="./u-and-i.css">
</head>
<body style="padding: 2rem;">
    <!-- Typography -->
    <h3>Typography</h3>
    <h4>Text heading tags</h4>
    <h1>H1-Heading</h1>
    <hr>
    <h2>H2-Heading</h2>
    <hr>
    <h3>H3-Heading</h3>
    <hr>
    <h4>H4-Heading</h4>
    <hr>
    <h5>H5-Heading</h5>
    <hr>
    <h6>H6-Heading</h6>
    <hr>
    <br>
    <br>
    <h4>Text paragraph tags</h4>
    <p>P-Paragraph-body-copy</p>
    <hr>
    <p class="body-cp-lg">P-Paragraph-body-copy-large</p>
    <hr>
    <p class="body-cp-md">P-Paragraph-body-copy-medium</p>
    <hr>
    <p class="body-cp-sm">P-Paragraph-body-copy-small</p>
    <hr>
    <h4>Text alignment</h4>
    <h6 class="text-center">H6-Heading Text Align Center</h6>
    <hr>
    <p class="body-cp-sm text-left">P-Paragraph-body-copy-small- Text Align Left</p>
    <hr>
    <h5 class="text-right">H5-Heading- Text Align Right</h5>
    <hr>
    <div style="display: flex; height: 100px; background-color: var(--dark-secondary-color);" class="vertical-middle">
        <h5 class="text-right">H5-Heading- Text Vertical Middle</h5>
    </div>

    <h4>Text decoration</h4>
    <p>You can use the mark tag to <mark class="text-mark">highlight</mark> text.</p>
    <p class="text-strike-through">This line of text is meant to be treated as no longer accurate.</p>
    <p class="text-bold-weight">Text with bold font weight</p>
    <p class="text-light-weight">Text with light font weight</p>
    <p><small class="text-small-size">Small size text</small></p>
    <hr>

    <!-- Lists -->
    <h4>Lists</h4>
    <h4>Unordered List style</h4>
    <ul class="styled-list list-style-square list-container"> 
        <li>list item1</li>
        <li>list item2</li>
        <li>list item3</li>
    </ul>
    <ul class="styled-list list-style-circle"> 
        <li>list item1</li>
        <li>list item2</li>
        <li>list item3</li>
    </ul>
    <h4>Ordered List style</h4>
    <ol class="styled-list list-style-capAlpha"> 
        <li>list item1</li>
        <li>list item2</li>
        <li>list item3</li>
    </ol>
    <ol class="styled-list list-style-smRoman"> 
        <li>list item1</li>
        <li>list item2</li>
        <li>list item3</li>
    </ol>

    <h4>List without style</h4>
    <ul class="styled-list list-style-none"> 
        <li>list item1</li>
        <li>list item2</li>
        <li>list item3</li>
    </ul>
    <h4>Inline List</h4>
    <ul class="list-style-none inline-list"> 
        <li class="list-inline-item">list item1</li>
        <li class="list-inline-item">list item2</li>
        <li class="list-inline-item">list item3</li>
    </ul>



    <!-- primary links -->
    <h3>Primary link styles</h3>
    <a  class="btn btn-solid-primary" >Solid</a>
    <a  class="btn btn-outline-primary" >Outline</a>
    <a  class="link-text link-text-primary" >Text Link</a>
    <a  class="btn btn-icon-primary" ><span class="btn-icon"><i class="fas fa-shopping-cart"></i></span>
    </a>
    <a  class="btn btn-text-icon-primary" ><span class="btn-icon"><i class="fas fa-shopping-cart"></i></span>Add to Cart</a>

    <hr>
<a href="#" class="link-no-style">Hiiii</a>
    <!-- secondry links -->
    <h3>Secondary link styles</h3>
    <a  class="btn btn-solid-secondary" >Solid</a>
    <a  class="btn btn-outline-secondary" >Outline</a>
    <a  class="link-text link-text-secondary" >Text Link</a>
    <a  class="btn btn-icon-secondary" ><span class="btn-icon"><i class="fas fa-trash-alt"></i></span>
    </a>
    <a  class="btn btn-text-icon-secondary" ><span class="btn-icon"><i class="fas fa-minus"></i></span>Remove</a>

    <hr>

    <!-- inactive links -->
    <h3>Inactive link styles</h3>
    <a  class="btn btn-solid-primary btn-disabled" >Solid</a>
    <a  class="btn btn-text-icon-secondary btn-disabled" ><span class="btn-icon"><i class="fas fa-minus"></i></span>Remove</a>
    <hr>

    <h3>Sizing of CTA</h3>
    <a  class="btn btn-solid-primary btn-lg-size" >Large CTA</a>
    <a  class="btn btn-solid-primary btn-sm-size" >Small CTA</a>
    <hr>
    <!-- toggle button -->
    <h3>Toggle button</h3>
    <label class="btn-toggle"><input class="btn-checkbox" type="checkbox"><span class="btn-slider-round"></span></label>
    <!-- Floating action button -->
    <h3> Floating action button </h3>
    <a class="btn btn-float-action" ><i class="fas fa-plus"></i></a>

    <hr>


    <!-- badges -->
    <h3>Badges</h3>
    <p>
    <span class="badge bg-secondary">New</span>
    <span class="badge round-pill-badge bg-primary">New</span>
    <span class="status-badge status-badge-number">2</span>
    <span class="status-badge status-badge-online"></span>
    <span class="status-badge status-badge-offline"></span>
    <span class="status-badge status-badge-away"></span>
    </p>
    <hr>

    <!-- Avatar -->
    <h3>Avatar</h3>
    <span><img class="avatar avatar-lg-size" src="./images/avatar1.png" alt="avatar"></span>
    <span><img class="avatar avatar-md-size" src="./images/avatar2.png" alt="avatar"></span>
    <span><img class="avatar avatar-sm-size" src="./images/avatar1.png" alt="avatar"></span>
    <span><img class="avatar avatar-xs-size" src="./images/avatar2.png" alt="avatar"></span>
    <!-- Avatar with badges -->
    <div class="avatar-with-badge">
        <img class="avatar avatar-lg-size" src="./images/avatar1.png" alt="avatar">
        <div class="status-badge"></div>
    </div>
    <hr>

    <!-- Alerts -->
    <h3>Alerts</h3>
    <div class="alert-box alert-primary">A primary alert example with a text link <a class="link-text link-text-primary">Text Link</a>
        <button type="button" class="btn-close"></button>
    </div>
    <div class="alert-box alert-secondary">A secondary alert example!!!!
        <button type="button" class="btn-close"></button>
    </div>
    <div class="alert-box alert-success"><span class="alert-icon"><i class="fas fa-check-circle"></i></span>A success alert example!!!!
        <button type="button" class="btn-close"></button>
    </div>
    <div class="alert-box alert-danger"><span class="alert-icon"><i class="fas fa-exclamation-triangle"></i>
    </span>A danger alert example!!!!
        <button type="button" class="btn-close"></button>
    </div>
    <div class="alert-box alert-warning" id="alert-example-close"><span class="alert-icon"><i class="fas fa-exclamation-triangle"></i></span>A warning alert example!!!
        <button type="button" class="btn-close" id="alert-example-close-btn"></button>
    </div>
    <br>
    <hr>

    <!-- Images -->
    <h3>Images- Responsive and Round</h3>
    <div>
        <img class="img-responsive" src="https://via.placeholder.com/1400x300/7FD2E6/ffffff?text=Responsive+Image"  >
    </div>
    <br>
    <hr>
    <br>
    <div>
        <img class="img-round" src="https://via.placeholder.com/300x300/7FD2E6/ffffff?text=Round+Image" >
    </div>
    <br>
    <hr>
    <h3>Form Components</h3>
    <h4>Input box-active</h4>
    <label for="exampleFormInput1" class="form-label form-label-required-field">Email address<span class="super-script">*</span></label>
    <input type="email" class="form-field" placeholder="name@example.com" required>
    <br>
    <br>
    <label for="exampleFormInput1" class="form-label">Example Textarea</label>
    <textarea type="email" class="form-field form-textarea" placeholder="start writing here.." rows="3"></textarea>
    <br>
    <br>
    <h4>Input box-disabled</h4>
    <input type="email" class="form-field" placeholder="name@example.com" disabled>
    <br>
    <h4>Input box-read-only plain text</h4>
    <input type="email" class="form-field form-field-plain-text" value="name@example.com" readonly>
    <br>
    <h4>Input box-readonly-disabled</h4>
    <input type="email" class="form-field" placeholder="name@example.com" disabled readonly>
    
    <br>
    <h3>Form Sample Example</h3>
    <form class="submit-form-example" novalidate>
        <div class="row">
            <div class="column-20-pc">
                <label class="form-label">Enter phone number</label>
            </div>
            <div class="column-80-pc">
                <input class="form-field" placeholder="enter mobile number" pattern="^(\+91)?\s?[1-9][0-9]{9}$" required/>
                <div class="form-validation-msg form-field-error"><span class="form-field-symbol"><i class="fas fa-exclamation-circle"></i></span>Please fill mobile number!</div>
                <div class="form-validation-msg form-field-success"><span class="form-field-symbol"></spanclass><i class="fas fa-check-circle"></i></span>check pass</div>
            </div>
        </div>

        <div class="row">
            <div class="column-20-pc">
                <label class="form-label">Select your country</label>
            </div>
            <div class="column-80-pc">
                <select class="form-field" required>
                    <option value="India">India</option>
                    <option value="America">America</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="column-20-pc">
                <label class="form-label">Gender</label>
            </div>
            <div class="column-80-pc display-flex">
                <div class="flex-items">
                    <input class="form-checkbox-field" type="radio" name="gender" value="F" id="female" checked/>
                    <label for="female">Female</label>            
                </div>
                <div class="flex-items">
                    <input class="form-checkbox-field" type="radio" name="gender" value="M" id="male"/>
                    <label for="male">Male</label>            
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column-20-pc">
                <label class="form-label">Enter Your Birthdate</label>
            </div>
            <div class="column-80-pc">
                <input class="form-field" type="date" required />
                <div class="form-validation-msg form-field-error"><span class="form-field-symbol"><i class="fas fa-exclamation-circle"></i></span>Please fill birthdate!</div>
                <div class="form-validation-msg form-field-success"><span class="form-field-symbol"></spanclass><i class="fas fa-check-circle"></i></span>check pass</div>
            </div>
        </div>

        <div class="row">
            <div>
                <input class="form-checkbox-field" type="checkbox" required />
                <label> Yes, I accept the terms.</label>
                <div class="form-validation-msg form-field-error"><span class="form-field-symbol"><i class="fas fa-exclamation-circle"></i></span>Please check the box!</div>
                <div class="form-validation-msg form-field-success"><span class="form-field-symbol"></spanclass><i class="fas fa-check-circle"></i></span>check pass</div>

            </div>
        </div>

        <button class="btn btn-outline-primary btn-sm-size" type="submit">Submit</button>

    </form>
    <hr>
    
    <h3>Modal.</h3>
    <p>Click on below CTA to open modal</p>
    <button class="modal-CTA btn btn-solid-primary">Click me</button>
    <div class="modal-interstitial">
        <div class="modal-content vertical-middle display-flex-items">
            <button type="button" class="btn-close modal-close"></button>
            <div class="text-center">
                <h4>Shop with exclusive offers</h4>
                <a class="btn btn-solid-primary" href="https://www.google.com" target="_blank">Shop Now</a>
            </div>            
        </div>  
    </div>
   
    <hr>

    <h3>Card- Horizontal</h3>
    <div class="display-flex card-horizontal">
        <div>
        <img class="avatar avatar-sm-size" src="./images/avatar6.jpg" alt="product-image">
        </div>
        <div class="display-flex-column">
            <div class="text-container">
                <div class="text-container-title">
                    <h2 class="h6">Tanay Pratap <span class="body-cp-lg text-regular-weight">liked a reply to your Tweet</span></h2>
                </div>
                <div class="text-container-desc">
                    <p class="body-cp-md">this is good, please think about adding keyboard arrow keys(left + right) navigations as well.</p>
                    <time class="body-cp-md text-light-weight">2 hours ago</time>
                </div>
                
            </div>

        </div>
    </div>
    <hr>
    <h3>Navigation</h3>
    <nav class="nav-bar shadow-box">
        
        <div class="nav-logo">
            <a class="link-no-style" href="/index.html"> <img src="/Components/images/nav-logo-demo.svg" alt="Logo" width="60" height="60"> </a>
        </div>

        <ul class="nav-bar-links list-style-none">
            <li class="list-inline-item">
                <a class="link-no-style">Buy</a>
            </li>
            <li class="list-inline-item">
                <a class="link-no-style">Rent</a>
            </li>
            <li class="list-inline-item">
                <a class="link-no-style">Sell</a>
            </li>
            <li class="list-inline-item">
                <a class="link-no-style">What's New</a>
            </li> 
            <li class="list-inline-item">
                <a class="link-no-style">Property Services</a>
            </li> 
            <li class="list-inline-item">
                <a class="link-no-style">Help</a>
            </li>  
        </ul>
        <label class="search-bar">
            <span class="search-bar-btn" type="submit"><i class="fa fa-search"> </i></span>
            <input class="search-bar-input" type="text" placeholder="Type to search" name="search">
        </label>
    
        <ul class="nav-profile list-style-none">
            <li class="list-inline-item">
                <a class="profile-link link-no-style">
                    <span class="profile-icon">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="profile-icon-text">
                        Profile
                    </span>
                </a> 
            </li>
            <li class="list-inline-item">
                <a class="profile-link link-no-style">
                    <span class="profile-icon">
                        <i class="fas fa-heart"></i>
                    </span>
                    <span class="profile-icon-text">
                        Wishlist
                    </span>
                </a> 
            </li>
            <li class="list-inline-item">
                <a class="profile-link link-no-style">
                    <span class="profile-icon">
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                    <span class="profile-icon-text">
                        Cart
                    </span>
                </a> 
            </li> 
        </ul>

         <div class="Burger">  
             <div class="line1"> </div>
             <div class="line2"> </div>
             <div class="line3"> </div>
         </div>
  </nav>
    <hr>

    <form class="example-rating-form">
        <h5>Rate our service</h5>
        <div class="rating-star-container">
            <label>
                <input class="rating-star-input" type="checkbox" >
                <i class="fas fa-star rating-star-icon"></i>
            </label>
            <label>
                <input class="rating-star-input" type="checkbox" >
                <i class="fas fa-star rating-star-icon"></i>
            </label>
            <label>
                <input class="rating-star-input" type="checkbox" >
                <i class="fas fa-star rating-star-icon"></i>
            </label>
            <label>
                <input class="rating-star-input" type="checkbox" >
                <i class="fas fa-star rating-star-icon"></i>
            </label>
            <label>
                <input class="rating-star-input" type="checkbox" >
                <i class="fas fa-star rating-star-icon"></i>
            </label>
        </div>
        <button class="btn btn-solid-primary">Submit</button>
    </form>
    <div class="rating-example-number-show"></div>
    <hr>
    <div class="toast toast-success">
        Saved!
        <button type="button" class="btn-close" id="toast-example-success"></button>
    </div>
    <div class="toast toast-error">
        Not Saved! Try again later.
        <button type="button" class="btn-close"></button>
    </div>
    <div class="toast toast-inform">
        Saving to server...
        <button type="button" class="btn-close"></button>
    </div>
    <button class="btn btn-solid-primary show-toast-example-btn">Show Toast</button>
    <hr>
    <h3>Slider</h3>
    <!-- <div class="slider-container">
        <input class="slider" type = "range" min = "1" max = "100" value = "25" />
    </div> -->
    <div class="slider-container">
    <label class="slider-track" for="range">
        <input class="slider" type="range" name="range" id="range" min="0" max="100" step="5" value="15"/>
    </label>
    
</div>

    <div style="display: block;" class="component-display-container">
        <p>You can use the mark tag to <mark class="text-mark">highlight</mark> text.</p>
        <p class="text-strike-through">This line of text is meant to be treated as no longer accurate.</p>
        <p class="text-bold-weight">Text with bold font weight</p>
        <p class="text-regular-weight">Text with regular font weight</p>
        <p class="text-light-weight">Text with light font weight</p>
        <p><small class="text-small-size">Small size text</small></p>
    </div> 
   

    <div>
        <div class="badge-container">
            <div class="avatar avatar-lg-size">
                <img class="img-responsive img-round" src="/Components/images/avatar3.jpg" alt="avatar">
            </div>
            <span class="status-badge status-badge-online"></span>
        </div>
    </div>

    <div>
        <div class="badge-container">
            <div class="avatar avatar-md-size">
                <img class="img-responsive img-round" src="/Components/images/avatar2.png" alt="avatar">
            </div>
            <span class="status-badge status-badge-offline"></span>
        </div>
    </div>

    <div>
        <div class="badge-container">
            <div class="avatar avatar-sm-size">
                <img class="img-responsive img-round" src="/Components/images/avatar4.jpg" alt="avatar">
            </div>
            <span class="status-badge status-badge-away"></span>
        </div>
    </div>
    <div>
        <div class="badge-container">
            <div class="avatar avatar-xs-size">
                <img class="img-responsive img-round" src="/Components/images/avatar5.jpg" alt="avatar">
            </div>
            <span class="status-badge status-badge-online"></span>
        </div>
    </div>

    <div class="grid-4-column-layout" >
        <div class="card-vertical flex-items shadow-box">
        
            <div class="image-container badge-container">
                <img class="img-responsive card-img" src="./images/cardImg1.webp" alt="product-image">
                <span class="badge bg-primary">New</span>
            </div>
            <div class="text-container">
                <div class="text-container-title">
                    <h6 class="text-regular-weight product-title">Pink Dress<button class="like-btn link-no-style"><span><i class="fas fa-heart"></i></span></button></h6>
                </div>
                <div class="text-container-desc">
                    <p class="body-cp-md">Girls White & Blue Dress</p>
                    <p class="text-regular-weight">Rs.899 <span class="text-light-weight"><span class="text-strike-through">Rs.999</span><span class="primary-text-color">10%</span></span></p>
                    
                </div>
                <div class="CTA-Container">
                    <a class="btn btn-outline-secondary">Explore</a>
                </div>
                
            </div>
        </div>
        <div class="card-vertical flex-items shadow-box">
        
            <div class="image-container badge-container">
                <img class="img-responsive card-img" src="./images/cardImg1.webp" alt="product-image">
                <span class="badge bg-primary">New</span>
            </div>
            <div class="text-container">
                <div class="text-container-title">
                    <h6 class="text-regular-weight product-title">Pink Dress<button class="like-btn link-no-style"><span><i class="fas fa-heart"></i></span></button></h6>
                </div>
                <div class="text-container-desc">
                    <p class="body-cp-md">Girls White & Blue Dress</p>
                    <p class="text-regular-weight">Rs.899 <span class="text-light-weight"><span class="text-strike-through">Rs.999</span><span class="primary-text-color">10%</span></span></p>
                    
                </div>
                <div class="CTA-Container">
                    <a class="btn btn-outline-secondary">Explore</a>
                </div>
            </div>
        </div>
        <div class="card-vertical flex-items shadow-box">
        
            <div class="image-container badge-container">
                <img class="img-responsive card-img" src="./images/cardImg1.webp" alt="product-image">
                <span class="badge bg-primary">New</span>
            </div>
            <div class="text-container">
                <div class="text-container-title">
                    <h6 class="text-regular-weight product-title">Pink Dress<button class="like-btn link-no-style"><span><i class="fas fa-heart"></i></span></button></h6>
                </div>
                <div class="text-container-desc">
                    <p class="body-cp-md">Girls White & Blue Dress. Lorem loreloremelreooooo ooooooooo ooooooo</p>
                    <p class="text-regular-weight">Rs.899 <span class="text-light-weight"><span class="text-strike-through">Rs.999</span><span class="primary-text-color">10%</span></span></p>
                    
                </div>
                <div class="CTA-Container">
                    <a class="btn btn-outline-secondary">Explore</a>
                </div>
            </div>
        </div>
        <div class="card-vertical flex-items shadow-box">
        
            <div class="image-container badge-container">
                <img class="img-responsive card-img" src="./images/cardImg1.webp" alt="product-image">
                <span class="badge bg-primary">New</span>
            </div>
            <div class="text-container">
                <div class="text-container-title">
                    <h6 class="text-regular-weight product-title">Pink Dress<button class="like-btn link-no-style"><span><i class="fas fa-heart"></i></span></button></h6>
                </div>
                <div class="text-container-desc">
                    <p class="body-cp-md">Girls White & Blue Dress</p>
                    <p class="text-regular-weight">Rs.899 <span class="text-light-weight"><span class="text-strike-through">Rs.999</span><span class="primary-text-color">10%</span></span></p>
                </div>
                <div class="CTA-Container">
                    <a class="btn btn-outline-secondary">Explore</a>
                </div>
            </div>
        </div>
    </div>

    <div class="rating-badge">
        <span class="rating-badge-number">5</span>
        <span class="rating-badge-star"><i class="fas fa-star"></i></span>
        <span class="rating-badge-number">|</span>
        <span class="rating-badge-number">5</span>
    </div>
    <!-- <input type = "range" min = "1" max = "100" value = "25" /> -->

    <script src="./components.js"></script>
</body>
</html>