<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./u-and-i.css">
</head>

<body>
    <div class="grid-4-column-layout">
        <div class="card-vertical">

            <div class="image-container badge-container">
                <img loading="lazy" class="img-responsive card-img" src="./images/cardImg1.webp" alt="product-image">
                <span class="badge bg-primary">New</span>
            </div>
            <div class="text-container">
                <div class="text-container-title">
                    <h6 class="text-regular-weight product-title">Pink Dress<button
                            class="like-btn link-no-style"><span><i class="fas fa-heart"></i></span></button></h6>
                </div>
                <div class="text-container-desc">
                    <p class="body-cp-md">Girls White & Blue Dress</p>
                    <p class="text-regular-weight">Rs.899 <span class="text-light-weight"><span
                                class="text-strike-through">Rs.999</span><span
                                class="primary-text-color">10%</span></span></p>
                </div>
                <div class="CTA-Container">
                    <a class="btn btn-outline-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="card-vertical">

            <div class="image-container badge-container">
                <img loading="lazy" class="img-responsive card-img" src="./images/cardImg1.webp" alt="product-image">
                <span class="badge bg-primary">New</span>
            </div>
            <div class="text-container">
                <div class="text-container-title">
                    <h6 class="text-regular-weight product-title">Pink Dress<button
                            class="like-btn link-no-style"><span><i class="fas fa-heart"></i></span></button></h6>
                </div>
                <div class="text-container-desc">
                    <p class="body-cp-md">Girls White & Blue Dress</p>
                    <p class="text-regular-weight">Rs.899 <span class="text-light-weight"><span
                                class="text-strike-through">Rs.999</span><span
                                class="primary-text-color">10%</span></span></p>
                </div>
                <div class="CTA-Container">
                    <a class="btn btn-outline-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="card-vertical">

            <div class="image-container badge-container">
                <img loading="lazy" class="img-responsive card-img" src="./images/cardImg1.webp" alt="product-image">
                <span class="badge bg-primary">New</span>
            </div>
            <div class="text-container">
                <div class="text-container-title">
                    <h6 class="text-regular-weight product-title">Pink Dress<button
                            class="like-btn link-no-style"><span><i class="fas fa-heart"></i></span></button></h6>
                </div>
                <div class="text-container-desc">
                    <p class="body-cp-md">Girls White & Blue Dress</p>
                    <p class="text-regular-weight">Rs.899 <span class="text-light-weight"><span
                                class="text-strike-through">Rs.999</span><span
                                class="primary-text-color">10%</span></span></p>
                </div>
                <div class="CTA-Container">
                    <a class="btn btn-outline-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="card-vertical">
            <div class="overlay-container">
                <div class="image-container badge-container">
                    <img loading="lazy" class="img-responsive card-img" src="./images/cardImg1.webp"
                        alt="product-image">
                    <span class="badge bg-primary">New</span>
                </div>
                <div class="text-container">
                    <div class="text-container-title">
                        <h6 class="text-regular-weight product-title">Pink Dress<button
                                class="like-btn link-no-style"><span><i class="fas fa-heart"></i></span></button></h6>
                    </div>
                    <div class="text-container-desc">
                        <p class="body-cp-md">Girls White & Blue Dress</p>
                        <p class="text-regular-weight">Rs.899 <span class="text-light-weight"><span
                                    class="text-strike-through">Rs.999</span><span
                                    class="primary-text-color">10%</span></span></p>
                    </div>
                    <div class="CTA-Container">
                        <a class="btn btn-outline-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="overlay-text">
                <div class="text-container body-cp-lg">Out Of Stock</div>
            </div>
        </div>
        <div class="card-vertical">

            <div class="image-container badge-container">
                <img loading="lazy" class="img-responsive card-img" src="./images/cardImg1.webp" alt="product-image">
                <span class="badge bg-primary">New</span>
            </div>
            <div class="text-container">
                <div class="text-container-title">
                    <h6 class="text-regular-weight product-title">Pink Dress<button
                            class="like-btn link-no-style"><span><i class="fas fa-heart"></i></span></button></h6>
                </div>
                <div class="text-container-desc">
                    <p class="body-cp-md">Girls White & Blue Dress</p>
                    <p class="text-regular-weight">Rs.899 <span class="text-light-weight"><span
                                class="text-strike-through">Rs.999</span><span
                                class="primary-text-color">10%</span></span></p>
                </div>
                <div class="CTA-Container">
                    <a class="btn btn-outline-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="card-vertical">

            <div class="image-container badge-container">
                <img loading="lazy" class="img-responsive card-img" src="./images/cardImg1.webp" alt="product-image">
                <span class="badge bg-primary">New</span>
            </div>
            <div class="text-container">
                <div class="text-container-title">
                    <h6 class="text-regular-weight product-title">Pink Dress<button
                            class="like-btn link-no-style"><span><i class="fas fa-heart"></i></span></button></h6>
                </div>
                <div class="text-container-desc">
                    <p class="body-cp-md">Girls White & Blue Dress</p>
                    <p class="text-regular-weight">Rs.899 <span class="text-light-weight"><span
                                class="text-strike-through">Rs.999</span><span
                                class="primary-text-color">10%</span></span></p>
                </div>
                <div class="CTA-Container">
                    <a class="btn btn-outline-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="card-vertical">

            <div class="image-container badge-container">
                <img loading="lazy" class="img-responsive card-img" src="./images/cardImg1.webp" alt="product-image">
                <span class="badge bg-primary">New</span>
            </div>
            <div class="text-container">
                <div class="text-container-title">
                    <h6 class="text-regular-weight product-title">Pink Dress<button
                            class="like-btn link-no-style"><span><i class="fas fa-heart"></i></span></button></h6>
                </div>
                <div class="text-container-desc">
                    <p class="body-cp-md">Girls White & Blue Dress</p>
                    <p class="text-regular-weight">Rs.899 <span class="text-light-weight"><span
                                class="text-strike-through">Rs.999</span><span
                                class="primary-text-color">10%</span></span></p>
                </div>
                <div class="CTA-Container">
                    <a class="btn btn-outline-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="card-vertical">
            <div class="overlay-container">
                <div class="image-container badge-container">
                    <img loading="lazy" class="img-responsive card-img" src="./images/cardImg1.webp"
                        alt="product-image">
                    <span class="badge bg-primary">New</span>
                </div>
                <div class="text-container">
                    <div class="text-container-title">
                        <h6 class="text-regular-weight product-title">Pink Dress<button
                                class="like-btn link-no-style"><span><i class="fas fa-heart"></i></span></button></h6>
                    </div>
                    <div class="text-container-desc">
                        <p class="body-cp-md">Girls White & Blue Dress</p>
                        <p class="text-regular-weight">Rs.899 <span class="text-light-weight"><span
                                    class="text-strike-through">Rs.999</span><span
                                    class="primary-text-color">10%</span></span></p>
                    </div>
                    <div class="CTA-Container">
                        <a class="btn btn-outline-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="overlay-text">
                <div class="text-container body-cp-lg">Out Of Stock</div>
            </div>
        </div>
        <div class="card-vertical">

            <div class="image-container badge-container">
                <img loading="lazy" class="img-responsive card-img" src="./images/cardImg1.webp" alt="product-image">
                <span class="badge bg-primary">New</span>
            </div>
            <div class="text-container">
                <div class="text-container-title">
                    <h6 class="text-regular-weight product-title">Pink Dress<button
                            class="like-btn link-no-style"><span><i class="fas fa-heart"></i></span></button></h6>
                </div>
                <div class="text-container-desc">
                    <p class="body-cp-md">Girls White & Blue Dress</p>
                    <p class="text-regular-weight">Rs.899 <span class="text-light-weight"><span
                                class="text-strike-through">Rs.999</span><span
                                class="primary-text-color">10%</span></span></p>
                </div>
                <div class="CTA-Container">
                    <a class="btn btn-outline-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="card-vertical">

            <div class="image-container badge-container">
                <img loading="lazy" class="img-responsive card-img" src="./images/cardImg1.webp" alt="product-image">
                <span class="badge bg-primary">New</span>
            </div>
            <div class="text-container">
                <div class="text-container-title">
                    <h6 class="text-regular-weight product-title">Pink Dress<button
                            class="like-btn link-no-style"><span><i class="fas fa-heart"></i></span></button></h6>
                </div>
                <div class="text-container-desc">
                    <p class="body-cp-md">Girls White & Blue Dress</p>
                    <p class="text-regular-weight">Rs.899 <span class="text-light-weight"><span
                                class="text-strike-through">Rs.999</span><span
                                class="primary-text-color">10%</span></span></p>
                </div>
                <div class="CTA-Container">
                    <a class="btn btn-outline-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="card-vertical">

            <div class="image-container badge-container">
                <img loading="lazy" class="img-responsive card-img" src="./images/cardImg1.webp" alt="product-image">
                <span class="badge bg-primary">New</span>
            </div>
            <div class="text-container">
                <div class="text-container-title">
                    <h6 class="text-regular-weight product-title">Pink Dress<button
                            class="like-btn link-no-style"><span><i class="fas fa-heart"></i></span></button></h6>
                </div>
                <div class="text-container-desc">
                    <p class="body-cp-md">Girls White & Blue Dress</p>
                    <p class="text-regular-weight">Rs.899 <span class="text-light-weight"><span
                                class="text-strike-through">Rs.999</span><span
                                class="primary-text-color">10%</span></span></p>
                </div>
                <div class="CTA-Container">
                    <a class="btn btn-outline-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="card-vertical">
            <div class="overlay-container">
                <div class="image-container badge-container">
                    <img loading="lazy" class="img-responsive card-img" src="./images/cardImg1.webp"
                        alt="product-image">
                    <span class="badge bg-primary">New</span>
                </div>
                <div class="text-container">
                    <div class="text-container-title">
                        <h6 class="text-regular-weight product-title">Pink Dress<button
                                class="like-btn link-no-style"><span><i class="fas fa-heart"></i></span></button></h6>
                    </div>
                    <div class="text-container-desc">
                        <p class="body-cp-md">Girls White & Blue Dress</p>
                        <p class="text-regular-weight">Rs.899 <span class="text-light-weight"><span
                                    class="text-strike-through">Rs.999</span><span
                                    class="primary-text-color">10%</span></span></p>
                    </div>
                    <div class="CTA-Container">
                        <a class="btn btn-outline-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="overlay-text">
                <div class="text-container body-cp-lg">Out Of Stock</div>
            </div>
        </div>
        <div class="card-vertical">

            <div class="image-container badge-container">
                <img loading="lazy" class="img-responsive card-img" src="./images/cardImg1.webp" alt="product-image">
                <span class="badge bg-primary">New</span>
            </div>
            <div class="text-container">
                <div class="text-container-title">
                    <h6 class="text-regular-weight product-title">Pink Dress<button
                            class="like-btn link-no-style"><span><i class="fas fa-heart"></i></span></button></h6>
                </div>
                <div class="text-container-desc">
                    <p class="body-cp-md">Girls White & Blue Dress</p>
                    <p class="text-regular-weight">Rs.899 <span class="text-light-weight"><span
                                class="text-strike-through">Rs.999</span><span
                                class="primary-text-color">10%</span></span></p>
                </div>
                <div class="CTA-Container">
                    <a class="btn btn-outline-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="card-vertical">

            <div class="image-container badge-container">
                <img loading="lazy" class="img-responsive card-img" src="./images/cardImg1.webp" alt="product-image">
                <span class="badge bg-primary">New</span>
            </div>
            <div class="text-container">
                <div class="text-container-title">
                    <h6 class="text-regular-weight product-title">Pink Dress<button
                            class="like-btn link-no-style"><span><i class="fas fa-heart"></i></span></button></h6>
                </div>
                <div class="text-container-desc">
                    <p class="body-cp-md">Girls White & Blue Dress</p>
                    <p class="text-regular-weight">Rs.899 <span class="text-light-weight"><span
                                class="text-strike-through">Rs.999</span><span
                                class="primary-text-color">10%</span></span></p>
                </div>
                <div class="CTA-Container">
                    <a class="btn btn-outline-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="card-vertical">

            <div class="image-container badge-container">
                <img loading="lazy" class="img-responsive card-img" src="./images/cardImg1.webp" alt="product-image">
                <span class="badge bg-primary">New</span>
            </div>
            <div class="text-container">
                <div class="text-container-title">
                    <h6 class="text-regular-weight product-title">Pink Dress<button
                            class="like-btn link-no-style"><span><i class="fas fa-heart"></i></span></button></h6>
                </div>
                <div class="text-container-desc">
                    <p class="body-cp-md">Girls White & Blue Dress</p>
                    <p class="text-regular-weight">Rs.899 <span class="text-light-weight"><span
                                class="text-strike-through">Rs.999</span><span
                                class="primary-text-color">10%</span></span></p>
                </div>
                <div class="CTA-Container">
                    <a class="btn btn-outline-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="card-vertical">
            <div class="overlay-container">
                <div class="image-container badge-container">
                    <img loading="lazy" class="img-responsive card-img" src="./images/cardImg1.webp"
                        alt="product-image">
                    <span class="badge bg-primary">New</span>
                </div>
                <div class="text-container">
                    <div class="text-container-title">
                        <h6 class="text-regular-weight product-title">Pink Dress<button
                                class="like-btn link-no-style"><span><i class="fas fa-heart"></i></span></button></h6>
                    </div>
                    <div class="text-container-desc">
                        <p class="body-cp-md">Girls White & Blue Dress</p>
                        <p class="text-regular-weight">Rs.899 <span class="text-light-weight"><span
                                    class="text-strike-through">Rs.999</span><span
                                    class="primary-text-color">10%</span></span></p>
                    </div>
                    <div class="CTA-Container">
                        <a class="btn btn-outline-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="overlay-text">
                <div class="text-container body-cp-lg">Out Of Stock</div>
            </div>
        </div>
    </div>
</body>

</html>